In [8]:
import pandas as pd

In [9]:
import numpy as np

In [10]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [11]:
chipo=pd.read_csv(url,sep='\t')

In [12]:
chipo.shape[0] # entries <= 4622 observations

4622

In [14]:
df=pd.read_csv('C:\\Users\\kumar\\Desktop\\ipyhton\\mtcars.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [10]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [11]:
Step 6. What is the number of columns in the dataset?

Object `dataset` not found.

In [ ]:
Step 6. What is the number of columns in the dataset

In [12]:
chipo.shape[1] ##What is the number of columns in the dataset?

5

In [13]:
chipo.columns##Print the name of all the columns.

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [14]:
chipo.index           #####How is the dataset indexed?

RangeIndex(start=0, stop=4622, step=1)

In [15]:
c = chipo.groupby('item_name')

In [23]:
c

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     37550        40
[Lemonade]                                             31892        36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...     24432        36
[Coca Cola]                                            19282        32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...     29614        30
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]      27583        30
[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]          23326        26
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     24637        25
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]       22664        24
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     17529        23
[Fresh Tomato Salsa, Rice]                             17175        22
[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]        21848        22
[Roasted Chili Corn Salsa, [Rice, Black Beans, ...     20902        21
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     23031        21
[Dr. Pepper]                                           13223        21
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...     21722        21
[Tomatillo Red Chili Salsa, [Rice, Cheese, Lett...     15512        20
[Nestea]                                               23349        20
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...     24051        20
[Tomatillo Red Chili Salsa, [Rice, Cheese, Sour...     17854        20
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...     17989        19
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...     11846        19
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...     22117        19
[Tomatillo Red Chili Salsa, [Rice, Black Beans,...     15244        18
[Tomatillo Red Chili Salsa, [Rice, Black Beans,...     13725        18
...                                                      ...       ...
[Roasted Chili Corn Salsa, [Rice, Cheese, Sour ...      1018         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...       192         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...        65         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...       387         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...      1761         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...      1134         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...      1269         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...       235         1
[Roasted Chili Corn Salsa, [Pinto Beans, Cheese...      1483         1
[Roasted Chili Corn Salsa, [Lettuce, Cheese]]            853         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       362         1
[Roasted Chili Corn Salsa, [Lettuce, Black Bean...       715         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       621         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...      1393         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...      1016         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...      1723         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...      1679         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...      1403         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...      1659         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...      1138         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...      1203         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       125         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       691         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...      1176         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...      1762         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       577         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       585         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       235         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...       987         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

In [16]:
c=c.sum()

In [17]:
c=c.sort_values(['quantity'],ascending=False)  Which was the most-ordered item?

Object `item` not found.

In [ ]:
c=c.sort_values(['quantity'],ascending=False)  Which was the most-ordered item

In [18]:
c.head(1)

                   order_id  quantity
item_name
6 Pack Soft Drink     52322        55

In [19]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)    ###What was the most ordered item in the choice_description column?
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [20]:
total_items_orders = chipo.quantity.sum()   ####How many items were orderd in total?
total_items_orders

4972

In [21]:
chipo.item_price.dtype   ####   Step 13. Turn the item price into a float
                        ###     Step 13.a. Check the item price type

dtype('O')

In [22]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [17]:
import pandas as pd

In [18]:
import numpy as np

In [19]:
choose=pd.read_csv('C:\\Users\\kumar\\Desktop\\mtcars.xlsx')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [16]:
choose.head(10)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,whole wheat pasta,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,soup,light cream,shallot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,frozen vegetables,spaghetti,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,eggs,pet food,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
mkk = pd.read_csv('C:\\Users\\kumar\\Desktop\\ipyhton\\mtcars.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2