In [9]:
import pandas as pd
import numpy as np

In [10]:
house_data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt', index_col='Unnamed: 0')

In [14]:
house_data.head(10)

        Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom   Price
1   1177.698      2           7        2            2         2   62000
2   2134.800      5           7        4            2         2   78000
3   1138.560      5           7        2            2         1   58000
4   1458.780      2           7        3            2         2   45000
5    967.776     11          14        3            2         2   45000
6   1127.886     11          12        4            2         2  148000
7   1352.040      5           7        3            2         1   58000
8    757.854      5          14        1            0         1   48000
9   1152.792     10          12        3            2         2   45000
10  1423.200      4           5        4            2         2   65000

In [15]:
columns = house_data.columns.tolist()

In [16]:
columns.remove('Price')

In [17]:
columns

['Sqft', 'Floor', 'TotalFloor', 'Bedroom', 'Living.Room', 'Bathroom']

In [18]:
feature_data = house_data[columns]

In [21]:
feature_data.head(10)

        Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom
1   1177.698      2           7        2            2         2
2   2134.800      5           7        4            2         2
3   1138.560      5           7        2            2         1
4   1458.780      2           7        3            2         2
5    967.776     11          14        3            2         2
6   1127.886     11          12        4            2         2
7   1352.040      5           7        3            2         1
8    757.854      5          14        1            0         1
9   1152.792     10          12        3            2         2
10  1423.200      4           5        4            2         2

In [23]:
target_data = house_data.Price

In [24]:
target_data.head(10)

1      62000
2      78000
3      58000
4      45000
5      45000
6     148000
7      58000
8      48000
9      45000
10     65000
Name: Price, dtype: int64

In [28]:
import statsmodels.api as sm

In [29]:
import statsmodels.formula.api as smf

In [35]:
X=house_data[['Sqft', 'Floor', 'TotalFloor', 'Bedroom', 'Living.Room', 'Bathroom']]

In [32]:
Y=house_data[['Price']]

In [36]:
X= sm.add_constant(X)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [61]:
mod=sm.OLS(Y,X).fit()

In [62]:
Predictions=mod.predict(X)

In [63]:
print_model=mod.summary()

In [64]:
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.702
Model:                            OLS   Adj. R-squared:                  0.699
Method:                 Least Squares   F-statistic:                     249.9
Date:                Sat, 06 Jul 2019   Prob (F-statistic):          8.00e-164
Time:                        12:51:14   Log-Likelihood:                -7285.1
No. Observations:                 645   AIC:                         1.458e+04
Df Residuals:                     638   BIC:                         1.462e+04
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        2669.2683   3665.690      0.728      0.467   -4529.007    9867.544
Sqft           37.8838      1.615     23.456      0.000      34.712      41.055
Floor        1025.8867    241.543      4.247      0.000     551.572    1500.202
TotalFloor    135.4509    197.033      0.687      0.492    -251.461     522.363
Bedroom     -1775.9556   1079.401     -1.645      0.100   -3895.563     343.652
Living.Room -3368.8370   2078.469     -1.621      0.106   -7450.305     712.631
Bathroom     2777.7005   1835.922      1.513      0.131    -827.479    6382.880
==============================================================================
Omnibus:                      156.182   Durbin-Watson:                   1.968
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              585.712
Skew:                           1.084   Prob(JB):                    6.52e-128
Kurtosis:                       7.134   Cond. No.                     8.69e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.69e+03. This might indicate that there are
strong multicollinearity or other numerical problems.